/* font family - fontawesome  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

/* reset margin-padding  */
* {
	margin: 0;
	padding: 0;
}

/* body */
body {
	display: flex;
	flex-direction: column;
	background:  linear-gradient(45deg, #00c4f0, #00c4f0, #ffdead, #ffdead);
	font-family: 'Roboto', sans-serif;
	height: 100%;
}


/* header */
header {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 15px 10px;
	background-color: #993300;
	border-bottom-color: #00c4f0;
	border-bottom-style: solid;
	border-width: 3px;
	color: #ffdead;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

main {
	margin-top: 10px;
}

/* brand */
.stamp {	
	font-family: 'Lobster', cursive;
	display: grid;
	grid-template:  40px 40px / 110px 180px;
}

.stampTitle {
	font-size: 2.5rem;
	grid-column-start: 2;	
	place-self: end;
	align-self: start;
}

.stampSubTitle {
	font-size: 1.5rem;
	grid-column-start: 2;	
	place-self: center;
}

/* navbar */
nav {
	font-size: 1.2rem;	
	width: 700px;
	height: 30px;
	align-self:  center;
	padding: 0 40px;
}

nav > ul {	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;	
}

.submenu {
	position: absolute;
	display: none;
}

ul.submenu > li {
	display: block;
}

nav > ul > li:hover ul {
	display: block;	
	margin-top: -2px;	
	background-color: #993300;
	width: 125px;	
	padding: 15px;	
	font-size: 0.9em;
	line-height: 2em;
	border-top-style: solid;
	border-top-width: 3px;
	border-color: #ffdead;
}

.itemMenu {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-size: 1.2rem;	
}

a.itemMenu:hover {
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.selectedItemMenu {	
	font-weight: bold;
	font-size: 1.1em;
	color: #00c4f0;
}

ul.submenu > li:hover {
	font-weight: bold;
}

/* tags */
h1 {
	margin: 30px 0 20px;
	font-size: 2.5em;
}

a {
	text-decoration: none;	
	font-family: 'Roboto', sans-serif;
	color: #ffdead;
}

ul {
	list-style: none;
}

main {
	margin-top: 70px;
	padding: 15px;
	height: 800px;
}

/* footer */
footer {	
	background-color: #993300;
	color: #ffdead;		
	border-top-style: solid;
	border-color: #00c4f0;
	border-width: 3px;	
	font-size: 1rem;
	line-height: 1.4rem;
	width: 100%;
}

.footerTitle {
	font-weight: bold;	
	border-bottom-style: solid;
	border-width: thin;
	border-color: #ffdead;
}

.footerNewsletterText {
	margin: 0;
	width: 150px;
	height: 25px;	
	background-color:  white;
	border: solid;
	padding-left: 5px;
	border-style: none;
}

.footerNewsletterButton {
	margin-left: -3px;	
	background-color: #ffdead;
	width: 120px;	
	height: 25px;
	font-weight: bolder;
	border-style: none;	
}

/* media queries */
@media only screen and (max-width: 320px)
{
	div.stamp > img {
		width: 40px;
		height:  30px;
	}

	.stamp {
		grid-template:  15px 10px / 50px 70px;
		align-items: left;
	}

	.stampTitle {
		font-size:  0.9rem;
		place-self: start;
		align-self: start;
	}

	.stampSubTitle {
		font-size:  0.7rem;	
	}

	.itemMenu {
		font-size: 0.7rem;
	}

	.selectedItemMenu {
		font-size: 0.8rem;
	}

	footer {	
		grid-template-areas: 
		'businessTitle followUsTitle'
		'. .'
		'email facebook'
		'phone instagram'
		'whatsapp .'
		'openStore .'
		'registeredBrand registeredBrand';	
		max-width: 100%;
		font-size: 0.7rem;
	}

	.footerContentTitle {
		display: none;
	}

	.footerHome {
		display: none;
	}

	.footerUs {
		display: none;
	}

	.footerContact {
		display: none;
	}

	.footerNewsletterTitle {
		display: none;
	}

	.footernewsLetterInput {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	div.stamp > img {
		width: 40px;
		height:  30px;
	}

	.stamp {
		grid-template:  15px 10px / 50px 70px;
		align-items: left;
	}

	.stampTitle {
		font-size:  0.9rem;
		place-self: start;
		align-self: start;
	}

	.stampSubTitle {
		font-size:  0.7rem;	
	}

	.itemMenu {
		font-size: 0.7rem;
	}

	.selectedItemMenu {
		font-size: 0.8rem;
	}

	footer {	
		grid-template-areas: 
		'businessTitle contentTitle followUsTitle'
		'. . .'
		'email home facebook'
		'phone us instagram'
		'whatsapp contact .'
		'openStore . .'
		'registeredBrand registeredBrand registeredBrand';
		max-width: 100%;
		font-size: 0.7rem;
	}

	.footerNewsletterTitle {
		display: none;
	}

	.footernewsLetterInput {
		display: none;
	}	
}