@charset "UTF-8";
/* main.scss => style.css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
/*para desarrollo local si no tengo internet*/
/*@import "node_modules/bootstrap/dist/css/bootstrap.min.css";*/
/* paleta de colores del sitio */
/*$brown-color: orange;*/
/*por el stoke del url (backgroung-image => toogle button)*/
/* fuentes que utilizo en el proyecto */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
.heading__extra-large {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.8rem;
  text-shadow: 1px 1px 2px #ffdead, 0 0 1em #00c4f0, 0 0 0.2em #993300;
  background-color: #ffdead;
  margin: 0px;
  padding: 20px;
  text-align: center; }

.heading__large {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem; }

.heading__medium {
  font-size: 1.5rem;
  font-weight: 700; }

.heading__small {
  font-size: 1rem;
  font-weight: 700; }

.text__medium {
  font-size: 1.5rem; }

.text__small {
  font-size: 1rem; }

.text__extra-small {
  font-size: 0.9rem; }

.text__logo {
  font-family: 'Lobster', cursive; }
  .text__logo__title {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(to right, #ffdead, #00c4f0);
    background: -moz-linear-gradient(to right, #ffdead, #00c4f0);
    background: -o-linear-gradient(to right, #ffdead, #00c4f0);
    background: -ms-linear-gradient(to right, #ffdead, #00c4f0);
    background: linear-gradient(to right, #ffdead, #00c4f0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent; }
  .text__logo__subtitle {
    display: block;
    position: relative;
    top: -15px;
    font-size: 2rem;
    background: -webkit-linear-gradient(to right, #ffdead, #00c4f0);
    background: -moz-linear-gradient(to right, #ffdead, #00c4f0);
    background: -o-linear-gradient(to right, #ffdead, #00c4f0);
    background: -ms-linear-gradient(to right, #ffdead, #00c4f0);
    background: linear-gradient(to right, #ffdead, #00c4f0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent; }

/* media queries */
@media only screen and (max-width: 1100px) {
  .font-menu-size {
    font-size: 1.1rem; }
  .heading__large {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.35rem; } }

@media only screen and (max-width: 576px) {
  .heading__extra-large {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-shadow: 1px 1px 2px #ffdead, 0 0 1em #00c4f0, 0 0 0.2em #993300;
    background-color: #ffdead;
    margin: 0px;
    padding: 20px;
    text-align: center; }
  .heading__large {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.35rem; }
  .heading__medium {
    font-size: 0.9rem;
    font-weight: 700; }
  .heading__small {
    font-size: 0.7rem;
    font-weight: 700; }
  .text__medium {
    font-size: 1.1rem; }
  .text__small {
    font-size: 0.9rem; }
  .text__extra-small {
    font-size: 0.8rem; }
  .text__logo {
    font-family: 'Lobster', cursive; }
    .text__logo__title {
      font-size: 1.6rem; }
    .text__logo__subtitle {
      font-size: 1.2rem; } }

/* personalizo la clase btn-primary y btn-default de bootstrap para que el color sea coherente con mi paleta */
.accordion-button {
  background-color: #ffdead; }

.accordion-button:not(.collapsed) {
  color: #993300;
  background-color: #ffdead;
  font-weight: bold; }

.btn-primary {
  color: #000000;
  background-color: #00c4f0;
  border-color: #00a5ca; }
  .btn-primary:hover {
    color: #000000;
    background-color: #0bd2ff;
    border-color: #24d7ff; }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #000000;
    background-color: #0bd2ff;
    border-color: #24d7ff;
    box-shadow: 0 0 0 0.25rem rgba(0, 140, 171, 0.5); }
  .btn-check:checked + .btn-primary,
  .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #33d0f3;
    border-color: #1aaecf; }
    .btn-check:checked + .btn-primary:focus,
    .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(0, 140, 171, 0.5); }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #000;
    background-color: #00c4f0;
    border-color: #00a5ca; }

.btn-default {
  color: #000000;
  background-color: #ffdead;
  border-color: #ffcf87; }
  .btn-default:hover {
    color: #000000;
    background-color: #ffe8c7;
    border-color: #fff3e0; }
  .btn-check:focus + .btn-default, .btn-default:focus {
    color: #000000;
    background-color: #ffe8c7;
    border-color: #fff3e0;
    box-shadow: 0 0 0 0.25rem rgba(217, 176, 115, 0.5); }
  .btn-check:checked + .btn-default,
  .btn-check:active + .btn-default, .btn-default:active, .btn-default.active,
  .show > .btn-default.dropdown-toggle {
    color: #000;
    background-color: #ffe5bd;
    border-color: #ffd393; }
    .btn-check:checked + .btn-default:focus,
    .btn-check:active + .btn-default:focus, .btn-default:active:focus, .btn-default.active:focus,
    .show > .btn-default.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(217, 176, 115, 0.5); }
  .btn-default:disabled, .btn-default.disabled {
    color: #000;
    background-color: #ffdead;
    border-color: #ffcf87; }

/* estilo común para todas las páginas */
/* reset margin-padding  */
* {
  margin: 0;
  padding: 0; }

/* body */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  color: #000000; }

/* links */
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #ffdead; }

/* listas desordenadas */
ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  ul li {
    margin: 0px;
    padding: 0px; }

/* semantica */
main {
  padding: 0px;
  background-color: #00c4f0;
  min-height: 800px; }

/* footer */
footer {
  background-color: #993300;
  color: #ffdead;
  border-top-style: solid;
  border-color: #000000;
  border-width: 10px;
  font-size: 1rem;
  line-height: 1.4rem; }
  footer a:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    color: #ffdead; }

/* submenu */
#menu-with-submenu:hover ul {
  display: block;
  margin-top: -2px;
  background-color: #993300;
  width: 125px;
  padding: 15px;
  font-size: 0.9em;
  line-height: 2em;
  border-top-style: solid;
  border-top-width: 3px;
  border-color: #ffdead; }
  #menu-with-submenu:hover ul li a {
    color: #ffdead; }

/* header */
.header {
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-width: 10px;
  background-color: #993300;
  color: #ffdead;
  min-height: 130px; }
  .header__container {
    min-width: 400px; }
    .header__container__logo {
      min-width: 200px; }
      .header__container__logo img {
        height: 100px;
        width: 105px; }

/* menu hamburguesa */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='navajowhite' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-toggler {
  border-color: #ffdead; }

/* sumbenu */
.header__navbar__submenu {
  position: absolute;
  display: none; }

ul.header__navbar__submenu {
  z-index: 1; }
  ul.header__navbar__submenu li {
    display: block;
    font-weight: normal; }
  ul.header__navbar__submenu li:hover {
    font-weight: bold; }

/* estilo de menu, y menu seleccionado */
.header__navbar__link {
  color: #ffdead; }
  .header__navbar__link--selected {
    font-weight: bold;
    color: #00c4f0; }

a.header__navbar__link:hover {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: #ffdead; }

/* clases footer */
.footer {
  /* newsletter: ingreso de email */
  /* newsletter: boton para la suscripcion */ }
  .footer__link--selected {
    font-weight: bold;
    font-size: 1.1em;
    color: #00c4f0; }
  .footer__title--boldWithBottomBorder {
    border-bottom-style: solid;
    border-width: thin;
    border-color: #ffdead; }
  .footer__newsletterText {
    margin: 0;
    width: 50%;
    height: 25px; }
  .footer__newsletterButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
    width: 45%;
    height: 25px;
    font-weight: bolder;
    padding: 0px; }

.card {
  box-shadow: 0px 0px 10px 10px #993300 inset;
  -webkit-box-shadow: 0px 0px 10px 10px #993300 inset;
  -moz-box-shadow: 0px 0px 10px 10px #993300 inset;
  -o-box-shadow: 0px 0px 10px 10px #993300 inset;
  -ms-box-shadow: 0px 0px 10px 10px #993300 inset;
  border-radius: 10px; }

/* media queries */
@media only screen and (max-width: 576px) {
  .header {
    border-width: 5px;
    min-height: 90px; }
    .header__container__logo img {
      height: 65px;
      width: 70px; }
  footer {
    border-top-width: 5px; } }

/* aca iria todo el scss para la pagina de contacto */
/* ofertas */
span.badge {
  background-color: #993300;
  color: #ffdead;
  font-size: 1.5rem; }

.card {
  box-shadow: 0px 0px 10px 10px #993300 inset;
  border-radius: 10px; }

.card__heart {
  animation: .5s jump ease infinite alternate; }

@keyframes jump {
  0% {
    transform: scale(0.75);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  100% {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); } }

.limpieza__card {
  height: 400px; }

.bazar__card {
  height: 400px; }

.perfumeria__card {
  height: 400px; }

.petshop__card {
  height: 400px; }

.main__h1 {
  color: #993300;
  background-color: #ffdead; }

.shadow-background-image-title--small {
  height: 60px;
  background-color: #00c4f0;
  box-shadow: 0px 0px 10px 10px #ffdead;
  -webkit-box-shadow: 0px 0px 10px 10px #ffdead;
  -moz-box-shadow: 0px 0px 10px 10px #ffdead;
  -o-box-shadow: 0px 0px 10px 10px #ffdead;
  -ms-box-shadow: 0px 0px 10px 10px #ffdead; }

/* media queries */
@media only screen and (max-width: 576px) {
  .shadow-background-image-title--small {
    height: 40px; } }

/* nosotros */
.section__compromiso {
  font-size: 1.6rem;
  line-height: 2rem; }

.section__history {
  font-size: 1.3rem;
  font-style: normal;
  margin-top: 0; }

/* pagina principal */
/* aside */
body aside {
  position: fixed;
  padding: 0 5px;
  bottom: 20px;
  right: 30px;
  text-align: right;
  background-color: #993300;
  border-radius: 10px;
  z-index: 2; }
  body aside a:hover {
    color: #ffdead;
    opacity: 0.5; }

li.carousel-caption {
  background-color: #993300;
  opacity: 0.5; }

.carousel-item .img-fluid {
  width: 100%;
  height: 100%; }

span.carousel-control-prev-icon:hover {
  background-color: #993300;
  opacity: 0.5; }

span.carousel-control-next-icon:hover {
  background-color: #993300;
  opacity: 0.5; }

.shadow-background-image {
  height: 150px;
  width: 150px;
  background-color: #ffdead;
  box-shadow: 0px 0px 10px 10px #993300;
  -webkit-box-shadow: 0px 0px 10px 10px #993300;
  -moz-box-shadow: 0px 0px 10px 10px #993300;
  -o-box-shadow: 0px 0px 10px 10px #993300;
  -ms-box-shadow: 0px 0px 10px 10px #993300; }
  .shadow-background-image--small {
    height: 120px; }

.shadow-background-image:hover {
  opacity: 0.5; }

ul.accordion {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 10px #993300 inset;
  -webkit-box-shadow: 0px 0px 10px 10px #993300 inset;
  -moz-box-shadow: 0px 0px 10px 10px #993300 inset;
  -o-box-shadow: 0px 0px 10px 10px #993300 inset;
  -ms-box-shadow: 0px 0px 10px 10px #993300 inset;
  border-radius: 10px;
  margin-bottom: 20px; }
  ul.accordion li {
    margin-bottom: 5px; }

/* media queries */
@media only screen and (max-width: 990px) {
  .container-mobile__img {
    height: 80px;
    width: 80px; }
  .container-mobile__label-hidden {
    display: none; } }

@media only screen and (max-width: 576px) {
  .container-mobile__img {
    height: 80px;
    width: 80px; }
  .container-mobile__label-hidden {
    display: none; } }

@media only screen and (max-width: 420px) {
  .container-mobile__img {
    height: 40px;
    width: 40px; }
  .container-mobile__label-hidden {
    display: none; } }
