/* paleta de colores del sitio */

$white-color: #ffffff;
$black-color: #000000;
$brown-color: #993300;
$skin-color: #ffdead;
$skin-color-rgb: rgb(255,222,173); /*por el stoke del url (backgroung-image => toogle button)*/
$light-blue-color: #00c4f0;