/* estilo común para todas las páginas */

/* reset margin-padding  */
* {
	margin: 0;
	padding: 0;
}

/* body */
body {
	display: flex;
	flex-direction: column;	
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	color: $black-color;
}

/* links */
a {
	text-decoration: none;	
	font-family: 'Roboto', sans-serif;
	color: $skin-color;
}

/* listas desordenadas */
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;

	li {
		margin: 0px;
		padding: 0px;
	}
}

/* semantica */
main {		
	padding: 0px;
	background-color: $light-blue-color;
	min-height: 800px;
}

/* footer */
footer {		
	background-color: $brown-color;
	color: $skin-color;		
	border-top-style: solid;
	border-color: $black-color;
	border-width: 10px;	
	font-size: 1rem;
	line-height: 1.4rem;

	a:hover {
		border-bottom-style: solid;
		border-bottom-width: thin;
		color: $skin-color;
	}
}

/* submenu */
#menu-with-submenu:hover {
	ul {
		display: block;	
		margin-top: -2px;	
		background-color: $brown-color;
		width: 125px;	
		padding: 15px;	
		font-size: 0.9em;
		line-height: 2em;
		border-top-style: solid;
		border-top-width: 3px;
		border-color: $skin-color;

		li {
			a {
				color: $skin-color;
			}
		}
	}
}

/* header */
.header {		
	border-bottom-style: solid;
	border-bottom-color: $black-color;
	border-width: 10px;
	background-color: $brown-color;
	color: $skin-color;
	min-height: 130px;

	&__container {
		min-width: 400px;
		&__logo {
			min-width: 200px;			
			img {
				height: 100px;
				width: 105px;
			}
		}
	}

	&__navbar__submenu {
		position: absolute;
		display: none;
	}

	&__navbar__link {	
		color: $skin-color;
		&--selected {
			font-weight: bold;
			color: $light-blue-color;
		}
	}

	&__navbar__link__product {	
		color: $skin-color;
		&--selected {
			font-weight: bold;
			color: $light-blue-color;
		}
	}
}

/* menu hamburguesa */
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$skin-color-rgb}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	border-color: $skin-color;
} 

ul.header__navbar__submenu {
	li {
		display: block;
		font-weight: normal;
	}
	li:hover {
		font-weight: bold;
	}	
	z-index: 1;
}

a.header__navbar__link:hover {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: $skin-color;
}

a.header__navbar__link__product:hover {
	color: $skin-color;
}

/* clases footer */
.footer {
	&__link--selected {
		font-weight: bold;
		font-size: 1.1em;
		color: $light-blue-color;
	}

	&__title--boldWithBottomBorder{		
		border-bottom-style: solid;
		border-width: thin;
		border-color: $skin-color;
	}

	/* newsletter: ingreso de email */
	&__newsletterText {
		margin: 0;
		width: 50%;
		height: 25px;
	}

	/* newsletter: boton para la suscripcion */
	&__newsletterButton {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		margin-left: -3px;
		width: 45%;	
		height: 25px;
		font-weight: bolder;
		padding:0px;
	}
}

.card {
	box-shadow: 0px 0px 10px 10px $brown-color inset;
	-webkit-box-shadow: 0px 0px 10px 10px $brown-color inset;
	-moz-box-shadow: 0px 0px 10px 10px $brown-color inset;
	-o-box-shadow: 0px 0px 10px 10px $brown-color inset;
	-ms-box-shadow: 0px 0px 10px 10px $brown-color inset;
	border-radius: 10px;
}

/* media queries */
@media only screen and (max-width: 576px) {
  .header {		
		border-width: 5px;
		min-height: 90px;

		&__container {
			&__logo {				
				img {
					height: 65px;
					width: 70px;
				}
			}
		}
	}

	footer {
		border-top-width: 5px;
	}
}