@import "common";

@each $rubro in limpieza, bazar, perfumeria {
	.#{$rubro}__card {
		background-color: if($rubro == limpieza, $skin-color, $light-blue-color);
		color: $brown-color;
		width: 400px;		
	}
}