@import "common";

h2 {
	margin: 10px 0 10px;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

section {
	height: 1050px;
}

.section {
	&__compromiso {
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-style: italic;
	}

	&__history {
		margin: 20px;
		font-size: 1.3rem;
		font-style: normal;
		margin-top: 0;
	}
}

@media (max-width: 768px) { 
	.section {
		&__compromiso {
			font-size: 1.2rem;
			line-height: 1.3rem;
			font-style: italic;
		}

		&__history {
			margin: 20px;
			font-size: 1rem;
			font-style: normal;
			margin-top: 0;
		}
	}	 
}