@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import "css/common.css";

main {
	margin-top: 10px;
}

aside {	
	position: fixed;
	padding: 0 5px;	
	bottom: 20px;
	right: 20px;	
	text-align: right;
	background-color: #993300;	
	border-radius: 10px;
}

h1 {
	position: relative;
	top: 380px;
	left: 370px;
	width: 30%;
	background-color: #00c4f0;
	text-align: center;
}

.imgMain {
	height: 650px;
	width: 99%;
	border-style:  solid;
	border-width:  5px;
	border-color: #993300;
	border-radius: 10px;
}