@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import "css/common.css";

main {
	margin-top: 10px;
}

aside {	
	position: fixed;
	padding: 0 5px;	
	bottom: 20px;
	right: 20px;	
	text-align: right;
	background-color: #993300;	
	border-radius: 10px;
}

h1 {
	position: relative;
	top: 380px;
	left: 370px;
	width: 30%;
	background-color: #00c4f0;
	text-align: center;
}

#home-carousel {
	margin-top: 100px;
    min-height: 300px;
    min-width: 100%;
    z-index: -1;
}

#home-carousel img {
    max-height: 670px;
    /*min-width: 100%;*/
}

/* media queries */
@media only screen and (max-width: 320px)
{
	main {
		margin-top: 20px;
	}

	h1 {
		font-size: 0.8rem;
		width: 60%;
		top: 70px;
		left: 70px;
	}

	aside {
		display:  none;
	}

	.imgMain {
		width: 96%;
	}
}

@media only screen and (max-width: 600px)
{
	main {
		margin-top: 20px;
	}

	h1{
		font-size: 0.8rem;
		width: 60%;
		top: 70px;
		left: 70px;
	}

	aside {
		display:  none;
	}

	.imgMain {
		width: 96%;
	}
}